.settings-plugins-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--card-bg);
}

.settings-plugins-item > h1{
    font-size: 1.5em;
    margin: 0;
}

.settings-plugins-item > h2{
    font-size: 1em;
    margin: 0;
}